<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mary Ai</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<style>
    
  </style>
<body>
    <header>
        <div class="header-logo">
            MaryAI
        </div>
        <nav>
            <div class="header-text">
                <p>Enhacing Health Care in Remote Areas of Africa</p>
            </div>
            <ul>
                <li><a href="#">About</a><span>|</span></li>
                <li><a href="#">Services</a><span>|</span></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="video-container">
        <video controls autoplay loop muted>
          <source src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/MaryAI.mp4?alt=media&token=238c99d7-cc0d-41cd-8085-a5cf296f9b00" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <section class="content-wrapper">
        <div class="header-container">
            <div class="grid-header ghc-1"></div>
            <div class="grid-header ghc-2">
                <h1 class="">Empowering&nbsp;Health</h1>
            </div>
        </div>
        <div class="grid">
            <div class="grid-item">
                <img class="grid-item-image" src="./images/MicrosoftTeams-image (4).png" alt="">
            </div>
            <div class="grid-item">
                <p>We are leveraging AI and structural engineering to bring hospitals to underserved communities and to people's homes. Our small, movable clinics are equipped with AI-powered MaryAI software that can diagnose diseases several weeks before patients experience any noticeable symptoms. We're committed to making healthcare accessible to all and collaborating with like-minded partners. Join us in building a healthier, more equitable world.</p>
            </div>
            <div class="grid-item">
                <img class="grid-item-image" src="./images/MicrosoftTeams-image (3).png" alt="">
            </div>
            <div class="grid-item">
                <img class="grid-item-image product-image" src="./images/MicrosoftTeams-image (1).png" alt="">
            </div>
        </div>
      </section>
      <section class="static-video">
        <div class="video-wrapper">
            <video class="video" autoplay loop muted>
                <source src="https://firebasestorage.googleapis.com/v0/b/sampleproject-c35cd.appspot.com/o/file.mp4?alt=media&token=e468fdd2-b7cc-4739-b0fb-0f8e0efda968" type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </div>
        </div>
      </section>
      <section class="services-container">
        <h1 class="service-heading">Our Services</h1>
            <div class="service-wrapper">
                <div class="service animate">
                    <div class="services-image">
                        <!-- <img src="./images/service_image_1.png" alt="Image 1"> -->
                    </div>
                    <div class="service-card">
                        <div class="card-heading">AI-Powered Diagonostics</div>
                        <p>Our software utilizes artificial intelligence algorithms to analyze medical data and images (such as X-rays, CT scans, and MRIs), aiding in the early detection and diagnosis of various conditions and diseases.​</p>
                    </div>
                </div>
                <div class="service animate">
                    <div class="services-image">
                        <img src="./images/service_image_2.png" alt="Image 1">
                    </div>
                    <div class="service-card">
                        <div class="card-heading">Symptom Assessment</div>
                        <p>Our platform allows users to input their symptoms and receive a preliminary assessment of potential health issues, providing guidance on the next steps to take for medical care.</p>
                    </div>
                </div>
                <div class="service animate">
                    <div class="services-image">
                        <img src="./images/service_image_3.png" alt="Image 1">
                    </div>
                    <div class="service-card">
                        <div class="card-heading">Telemedicine Solutions</div>
                        <p>Our technology enables remote consultations and virtual healthcare services, connecting patients with healthcare providers for timely medical advice and guidance, particularly useful in areas with limited access to healthcare facilities.</p>
                    </div>
                </div>
                <div class="service animate">
                    <div class="services-image">
                        <img src="./images/service_image_4.png" alt="Image 1">
                    </div>
                    <div class="service-card">
                        <div class="card-heading">Data Analytics and Insights</div>
                        <p>We gather and analyze healthcare data to generate valuable insights and statistics, aiding in healthcare planning, policy-making, and resource allocation to improve healthcare delivery in underserved regions.</p>
                    </div>
                </div>
            </div>
      </section>
</body>
</html>